<%= form_for(@menu) do |f| %>
	<% if @menu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@menu.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @menu.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	
	<% Recipe.all.each do |r| %>
		<%= check_box_tag 'menu[recipe][]', r.id %>
		<%= r.name %>
	<% end %>

  <div class="form-inputs">
		<%= f.label :notes %>
    <%= f.text_area :notes %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
