<p id="notice"><%= notice %></p>

<p>
  <strong>Total meals:</strong>
  <%= @menu.total_meals %>
</p>

<p>
  <strong>Total servings:</strong>
  <%= @menu.total_servings %>
</p>

<p>
  <strong>Cost:</strong>
  <%= number_to_currency(@menu.cost) %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @menu.notes %>
</p>

<p>
  <strong>User:</strong>
  <%# @menu.user %>
</p>

<h5>Recipes</h5>
<ul>
	<% @menu.menu_recipes.each do |mr| %>
		<li>
			<%= link_to(mr.recipe.name, recipe_path(mr.recipe)) %>
			(quantity: <%= mr.servings.to_i %>)
		</li>
	<% end %>
</ul>

<section class="text-center">
	<%= link_to 'All Menus', menus_path %> | <%= link_to 'Edit', edit_menu_path(@menu) %>
</section>

