<section class="text-right">
	<%= link_to "+ New Recipe!", new_recipe_path %>
</section>

<section id="search-box">
	<%= form_tag("/recipes", method: "get") do %>
	  <%= text_field_tag :q, nil, placeholder: 'Search For:' %>
	  <%= submit_tag("Search") %>
		<%= link_to 'Clear', recipes_path, class: 'btn clear' %>
	<% end %>
</section>

<div class="row">
	<% @recipes.each do |recipe| %>
		<div class='recipe'>
			<%= link_to recipe, class: 'block' do %>
				<%# recipe.image %>
				<h2><%= recipe.name %></h2>
				<p><%= recipe.description %></p>
			<% end %>
		</div>
	<% end %>
</div>



