<h1>New Recipe</h1>

<%= form_for @recipe do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name %>
  <%= f.label :description %>
	<%= f.text_area :description %>
	<%= f.label :servings %>
	<%= f.number_field :servings %>
	<%= f.label :calories %>
	<%= f.number_field :calories %>
	<%= f.label :cost %>
	<%= f.number_field :cost %>
	
	<%# ingredients %>
	
	<%= f.submit "Submit" %>
	
<% end %>