.row
  .columns.small-12
    %h1= @recipe.name
.row
  .columns.small-12.medium-4
    %p= @recipe.description
  .columns.small-12.medium-4
    Servings:
    = @recipe.servings
  .columns.small-12.medium-4
    Calories
    = @recipe.calories
.row
  .columns.small-12
    %h2 Ingredients
    %hr/
  .columns.small-12
    %ul
      - @recipe.instructions.each do |i|
        %li
          = i.ingredient.name
          = i.quantity
          = i.unit
.row
  .columns.small-12
    %h2 Instructions
    %hr/
  .columns.small-12
    %ul
      - @recipe.steps.each do |i|
        %li
          = i.title
          = i.description
