<%# add to (current) menu! button %>

<section class="title text-center">
  <h1><%= @recipe.name %></h1>
</section>

<section class="meta-info block clearfix">
  <div class="description">
		<h5>Description</h5>
    <p><%= @recipe.description %></p>
		<h5>Cost</h5>
		<p><%= @recipe.cost %></p>
  </div>
  <div class="servings">
		<h5>Servings</h5>
    <p><%= @recipe.servings %></p>
  </div>
  <div class="calories">
		<h5>Calories</h5>
    <p><%= @recipe.calories %></p>
  </div>
</section>

<section class="ingredients">
	<div class="block">
		<h3>Ingredients (<%= @recipe.ingredients.count %>)</h3>
	  <ul>
	    <% @recipe.ingredients.each do |ingredient| %>
	      <li><%= link_to ingredient.name, ingredient %>, <%= ingredient.unit %></li>
	    <% end %>
	  </ul>
	</div>
	
</section>

<section class="instructions">
	<div class="block">
		<h3>Instructions</h3>
	  <ul>
	    <% @recipe.instructions.each do |step| %>
				<li><%= step %></li>
			<% end if @recipe.instructions.present? %>
	  </ul>
	</div>

</section>

<section class="links text-center">
	<%= link_to 'All Recipes', recipes_path %> | <%= link_to 'Edit', edit_recipe_path(@recipe) %>	
</section>
