<section>
	<h1><%= @ingredient.name %></h1>
	<p><%= @ingredient.unit %></p>
	<p><%= @ingredient.generic_name %></p>
	<p><%= @ingredient.substitution %></p>
	<p><%= @ingredient.source %></p>
	<h4>Categories:</h4>
	<ul>
		<% @ingredient.category.split().each do |cat| %>
			<%= content_tag :li, cat %>
		<% end if @ingredient.category.present? %>
	</ul>
	<h4>Warnings:</h4>
	<ul>
		<% @ingredient.warning.split().each do |war| %>
			<%= content_tag :li, war %>
		<% end if @ingredient.warning.present? %>
	</ul>
</section>

<section class="text-center">
	<%= link_to 'All Ingredients', ingredients_path %> | <%= link_to 'Edit', edit_ingredient_path(@ingredient) %>
</section>
