- if @plan.errors.any?
  #form_error_message
    %h2 #{pluralize(@plan.errors.count, "error")} with this form
    %ul
      - @plan.errors.full_messages.each do |msg|
        %li= msg

= simple_form_for @plan do |f|
  = f.input :name
  = f.input :notes
  - Recipe.all.each do |recipe|
    = check_box_tag :recipe_ids, recipe.id, @plan.recipes.include?(recipe), name: "plan[recipe_ids][]"
    = label_tag :recipe_ids, recipe.name
    %br/
  = f.button :submit
