= form_for @plan do
  = text_field_tag :name, @plan.name
  = text_field_tag :notes, @plan.notes
  - Recipe.all.each do |recipe|
    = check_box_tag :recipe_ids, recipe.id, @plan.recipes.include?(recipe), name: 'plan[recipe_ids][]'
  = submit_tag
