<% if @plan.errors.any? %>
  <div class="form_error_message">
    <h2><%= pluralize(@plan.errors.count, "error") %> with this form</h2>
    <ul>
      <% @plan.errors.full_messages.each do |msg| %>
      	<%= content_tag(:li, msg) %>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @plan do |f| %>
	<%= f.text_field :name %>
	<%= f.text_area :notes %>
	<%# add checkboxes for recipes %>
	<%= f.submit "Save" %>
<% end %>