

.row
  .columns.small-12
    %h2= @plan.name
    %p= @plan.notes
- if @plan.recipes.present?
  .row
    - @plan.recipes.each do |recipe|
      .columns.small-12.medium-6.large-4.end
        = link_to recipe_path(recipe), {id: 'recipe'} do
          %h3= recipe.name
          %p= recipe.description
          %p= recipe.servings
          %p
            = recipe.calories
            per serving
.row
  .columns.small-12
    %h2 Grocery List
    %hr/
  .columns.small-12
    // create instance variable that joins ingredients and steps to create grocery list
    - @plan.recipes.each do |r|
      - r.instructions.each do |i|
        %p
          = i.ingredient.name
          = i.quantity
          = i.unit
.row
  .columns.small-12
    = link_to "Edit Plan", edit_plan_path, class: 'button'
.row
  .columns.small-12
    = link_to "< All Plans", plans_path, class: 'button'

