<section>
	<h2><%= @plan.name %></h2>
	<%= content_tag(:p, @plan.notes) %>
</section>

<% if @plan.recipes.present? %>
	<section class="recipes">
		<% @plan.recipes.each do |recipe| %>
			<div class="recipe">
				<%= recipe.name %>
				<%= recipe.description %>
				<%= recipe.servings %>
				<%= recipe.calories %>
			</div>
		<% end %>
	</section>
<% end %>

<section class="grocery_list">
	<h2>Grocery List</h2>
	<%# @all_ingredients  in controller get all ingredients for all recipes in plan %>
</section>

<section>
	<%= link_to "Edit Plan", edit_plan_path %>
	<%= link_to "< All Plans", plans_path %>
</section>